.product-layout {
    margin: 10px;
    padding: 20px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 10px;
    width: 350px;
    height: auto;
}
.product-layout img {
    width: 300px;
    height: 250px;
}
.btn-buy {
    padding: 10px;
    width: 80px;
    border-radius: 7px;
    border: none;
    background-color: cornflowerblue;
    color: white;
}